.header {
    display: flex;
    justify-content: center;    
    background-color: var(--color-black);
    padding: 4.5rem 0 5rem;
    h1{
        color: var(--color-blue-dark);
        font-size: 2.5rem;
        font-weight: 500;
    }

}