.text-input {
    background-color: var(--color-surface-200);

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;


    border: 1px solid var(--color-surface-200);
    border-radius: .5rem;

    input{
        background-color: transparent;
        color: var(--color-text-700);

        flex:  1 1 0;

        block-size: 1rem;

        border: none;

        font-size: 1rem;
        line-height: 1.4;
 
        &:focus {
            outline: none;
        }
    }
    .suffix{
        display: grid;

        color: var(--color-primary-dark);

        font-size: 1.25rem;
    }
    &:focus-within {
        outline: 2px solid var(--color-secondary-dark);
    }
}