:root {
  color-scheme: light;

  --color-gray-100: hsla(0, 0%, 100%, 1);
  --color-gray-200: hsla(0, 0%, 97%, 1);
  --color-gray-300: hsla(0, 0%, 90%, 1);
  --color-gray-400: hsla(0, 0%, 30%, 1);
  --color-gray-500: hsla(0, 0%, 15%, 1);
  --color-gray-600: hsla(0, 0%, 10%, 1);
  --color-gray-700: hsla(0, 0%, 5%, 1);
  --color-danger: hsla(0, 80%, 55%, 0.8);

  --color-primary-hover: hsla(203, 70%, 40%, 1);
  --color-primary: hsla(203, 70%, 58%, 1);

  --color-secondary-hover: hsla(239, 55%, 59%, 1);
  --color-secondary: hsla(239, 92%, 74%, 1);

  --color-surface-100: var(--color-gray-100);
  --color-surface-200: var(--color-gray-200);
  --color-surface-300: var(--color-gray-300);
  --color-surface-400: var(--color-gray-400);

  --color-text-500: var(--color-gray-500);
  --color-text-600: var(--color-gray-600);
  --color-text-700: var(--color-gray-700);

  &[data-theme="dark"] {
    color-scheme: dark;

    --color-surface-100: var(--color-gray-700);
    --color-surface-200: var(--color-gray-600);
    --color-surface-300: var(--color-gray-500);

    --color-text-500: var(--color-gray-300);
    --color-text-600: var(--color-gray-200);
    --color-text-700: var(--color-gray-100);

    --color-primary-hover: hsla(203, 70%, 58%, 1);
    --color-primary: hsla(203, 70%, 40%, 1);

    --color-secondary-hover: hsla(239, 92%, 74%, 1);
    --color-secondary: hsla(239, 55%, 59%, 1);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-surface-200);

  caret-color: var(--color-primary-hover);
  accent-color: var(--color-primary-hover);

  position: relative;

  &[lang="en"] {
    font-family: "Inter", system-ui;
  }

  &[lang="fa"] {
    font-family: "Vazirmatn", sans-serif;
  }
}

main {
  color: var(--color-surface-100);

  position: relative;

  margin-top: 163px;

  inline-size: min(46rem, 100% - 2rem);

  margin-inline: auto;

  height: 80dvh;

  z-index: 2;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

li {
  list-style: none;
}
