.tag-filter {
  background-color: var(--color-surface-300);
  box-shadow: var(--shadow);

  display: grid;
  gap: 0.5rem;

  border-radius: var(--border-radius-400);

  .title {
    padding: 0.5rem 1rem;

    font-size: var(--fz-500);
    font-weight: 700;
  }

  .options {
    overflow: auto;

    display: grid;

    max-block-size: 20rem;

    scrollbar-width: thin;

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: 0.5rem 1rem;

      cursor: pointer;

      input {
        block-size: 1em;
        inline-size: 1em;

        font-size: 1.25em;
      }

      &:hover,
      &:has(:focus-visible) {
        background-color: var(--color-primary-fade);
      }
    }
  }
}
