.result {
  margin-top: 3rem;

  .task {
    color: var(--color-secondary-hover);
    display: flex;
    justify-content: space-between;

    font-size: 0.75rem;
    font-weight: 900;

    .ahead {
      color: var(--color-primary-hover);
    }
  }

  li {
    background-color: var(--color-surface-300);
    color: var(--color-text-600);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    padding: 1rem;
    margin: 0.75rem 0;

    border: 1px solid var(--color-surface-100);
    border-radius: 0.5rem;

    h2 {
      font-size: 0.75rem;
    }

    .actions{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
    }
  }
}
