.attraction-list-item {
  background-color: var(--color-surface-300);
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: 1rem;

  padding: 1rem;

  border-radius: var(--border-radius-400);

  .visuals {
    min-block-size: 100%;
    block-size: 0;

    img {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;

      border-radius: var(--border-radius-300);
    }
  }

  .writings {
    display: grid;
    grid-template-areas: "title ratings" "description description";
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;

    .title {
      grid-area: title;

      color: var(--color-primary);

      font-size: var(--fz-500);
      font-weight: 700;
    }

    .ratings {
      grid-area: ratings;
    }

    .description {
      grid-area: description;

      overflow: hidden;

      line-clamp: 3;
       
    }
  }

  .tags {
    grid-column: 1 / -1;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > li {
      background-color: var(--color-surface-300);
      color: var(--color-primary);
      box-shadow: var(--shadow);

      padding: 0.25rem 0.5rem;

      border-radius: 999rem;

      font-size: var(--fz-300);
    }
  }
}
