.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;

  padding-block: 2rem;

  .logo {
    font-size: var(--fz-600);
    font-weight: 700;
  }

  nav {
    > ul {
      display: flex;
      gap: 2rem;

      > li {
        a {
          &:hover {
            color: var(--color-primary-hover);
          }

          &.active {
            font-weight: 600;
          }
        }
      }
    }
  }
}
