.button {
  display: inline-grid;
  place-content: center;

  inline-size: 3.5rem;

  cursor: pointer;

  transition: all 0.1s ease-in;

  &:hover,
  &:focus {
    outline: none;
  }

  &.solid {
    background-color: var(--color-primary);
    color: var(--color-gray-100);

    border: none;

    &:hover,
    &:focus {
      background-color: var(--color-primary-dark);

      outline: none;
    }
  }

  &.outlined {
    background-color: var(--color-surface);
    color: var(--color-gray-700);

    border: 1px solid var(--button-color);

    &:hover,
    &:focus {
      background-color: var(--color-primary-dark);
    }
  }

  &.ghost {
    background-color: transparent;

    border: none;

    inline-size: 1.5rem;

    &:hover,
    &:focus {
      color: var(--color-primary-dark);
      outline: none;
    }
  }

  &.danger:hover {
    color: var(--color-danger);

  }
  &.small{
    block-size: 1.25rem;

    svg {
      block-size: 1.25rem;
    }
  }

  &.medium {
    block-size: 2.25rem;

    svg {
      block-size: 1.25rem;
      inline-size: auto;
    }
  }

  &.large {
    svg {
      block-size: 1.5rem;
      inline-size: auto;
    }
  }

  &.rectangle {
    &.medium {
      padding-inline: 0.5rem;
    }

    &.large {
      padding-inline: 0.75rem;
    }
  }

  &.rectangle,
  &.square {
    border-radius: 0.5rem;
  }

  &.circle {
    border-radius: 999rem;
    
    block-size: 3.5rem;
  }
}
