.button {
  display: inline-grid;
  place-content: center;

  cursor: pointer;

  transition: all 0.1s ease-in;

  &:hover,
  &:focus {
    outline: none;
  }

  &.solid {
    background-color: var(--color-primary);
    color: var(--color-gray-100);

    border: none;

    &:hover,
    &:focus {
      background-color: var(--color-primary-dark);

      outline: none;
    }
  }

  &.outlined {
    background-color: var(--color-surface);
    color: var(--color-gray-700);

    border: 1px solid var(--button-color);

    &:hover,
    &:focus {
      background-color: var(--color-primary-dark);
    }
  }

  &.medium {
      svg {
        block-size: 1.5rem;
        inline-size: auto;
      }
  }

  &.large {
    svg {
      block-size: 1.5rem;
      inline-size: auto;
    }
  }

  &.rectangle {
    &.medium {
      padding-inline: 0.5rem;
    }

    &.large {
      padding-inline: 0.75rem;
    }
  }

  &.rectangle,
  &.square {
    border-radius: 0.25rem;
  }

  &.square,
  &.circle {
    aspect-ratio: 1 / 1;
  }

  &.circle {
    border-radius: 999rem;
  }
}
