:root {
  --color-gray-100: hsla(0, 0%, 100%, 1);
  --color-gray-200: hsla(0, 0%, 97%, 1);
  --color-gray-300: hsla(0, 0%, 90%, 1);
  --color-gray-400: hsla(0, 0%, 30%, 1);
  --color-gray-500: hsla(0, 0%, 15%, 1);
  --color-gray-600: hsla(0, 0%, 10%, 1);
  --color-gray-700: hsla(0, 0%, 5%, 1);
  --color-danger: hsla(0, 75%, 65%, 1);

  --color-primary-dark: hsla(203, 70%, 50%, 1);
  --color-primary: hsla(203, 70%, 58%, 1);
  --color-secondary-dark: hsla(239, 49%, 54%, 1);
  --color-secondary: rgb(179, 96, 251);

  --color-surface-100: var(--color-gray-100);
  --color-surface-200: var(--color-gray-200);
  --color-surface-300: var(--color-gray-300);
  --color-surface-400: var(--color-gray-400);

  --color-text-500: var(--color-gray-500);
  --color-text-600: var(--color-gray-600);
  --color-text-700: var(--color-gray-700);

  &.dark {
    --color-surface-100: var(--color-gray-700);
    --color-surface-200: var(--color-gray-600);
    --color-surface-300: var(--color-gray-500);

    --color-text-500: var(--color-gray-300);
    --color-text-600: var(--color-gray-200);
    --color-text-700: var(--color-gray-100);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-surface-200);

  caret-color: var(--color-primary-dark);
  accent-color: var(--color-primary-dark);

  position: relative;

  font-family: "Inter", system-ui;
}

main {
  color: var(--color-text);

  position: relative;

  margin-top: 163px;

  inline-size: min(46rem, 100% - 2rem);

  margin-inline: auto;

  height: 80dvh;

  z-index: 2;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

li {
  list-style: none;
}
