:root {
  --color-gray-100: hsla(0, 0%, 95%, 1);
  --color-gray-200: hsla(0, 0%, 85%, 1);
  --color-gray-300: hsla(0, 0%, 50%, 1);
  --color-gray-400: hsla(0, 0%, 20%, 1);
  --color-gray-500: hsla(0, 0%, 15%, 1);
  --color-gray-600: hsla(0, 0%, 10%, 1);
  --color-gray-700: hsla(0, 0%, 5%, 1);
  --color-danger: hsla(0, 75%, 65%, 1);

  --color-blue-dark: hsla(203, 69%, 37%, 1);
  --color-blue: hsla(203, 70%, 58%, 1);
  --color-purple-dark: hsla(239, 49%, 54%, 1);
  --color-purple: hsla(239, 92%, 73%, 1);

  --color-surface-100: var(--color-gray-100);
  --color-surface-200: var(--color-gray-200);
  --color-surface-300: var(--color-gray-300);
  --color-surface-400: var(--color-gray-400);

  --color-text-500: var(--color-gray-500);
  --color-text-600: var(--color-gray-600);
  --color-text-700: var(--color-gray-700);

  &.dark {
    --color-surface-100: var(--color-gray-700);
    --color-surface-200: var(--color-gray-600);
    --color-surface-300: var(--color-gray-500);
  
    --color-text-500: var(--color-gray-300);
    --color-text-600: var(--color-gray-200);
    --color-text-700: var(--color-gray-100);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  caret-color: var(--color-blue-dark);
  accent-color: var(--color-blue-dark);

  font-family: "inter", system-ui;

  background-color: var(--color-surface-300);
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

main {
  z-index: 2;
  margin-top: 173px;
  color: var(--color-text);

  inline-size: min(45rem, 100% - 2rem);

  margin-inline: auto;
}
