.select {
  position: relative;

  border-radius: 5px;

  select {
    appearance: none;

    background-color: var(--color-primary);
    color: var(--color-gray-100);

    block-size: 100%;
    inline-size: 100%;

    padding: 0.5rem;
    padding-inline-end: calc(0.5rem + 1ch + 0.5rem);

    border: none;
    border-radius: inherit;

    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.4;

    cursor: pointer;

    transition: all .1s ease-in;

    option {
      background-color: var(--color-primary);
      color: var(--color-gray-100);

      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: var(--color-primary-dark);
    }
  }

  &::after {
    content: "▼";

    color: var(--color-gray-100);

    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0.75rem;

    transform: translateY(-50%);

    font-size: 0.75em;

    pointer-events: none;
  }
  &::after:focus{
    transform: rotate(180deg);
  }
  &.solid {
    select {
      background-color: var(--color-primary-dark);
      color: var(--color-gray-100);
    }

    &::after {
      color: var(--color-gray-100);
    }
  }

  &.outlined {
    select {
      background-color: transparent;
      color: var(--color-primary-dark);
    }

    &::after {
      color: var(--color-primary-dark);
    }
  }
}

